.poMain {
    .poheader {
        display: flex;
        justify-content: space-between;

        .poBtn {
            .generatePo {
                background-color: #304FFE;
                color: #ffff;
                border-radius: 5px;
                padding: 7.5px, 12px, 7.5px, 12px;
                border: none;
            }

            .uploadPo {
                background-color: transparent;
                color: blue;
                border-radius: 5px;
                padding: 7.5px, 12px, 7.5px, 12px;
                border: 1px soild #304FFE !important;
            }
        }
    }

    .cardsInfoDetails {
        display: flex;
        justify-content: space-between;
    }

    .tabInfo {
        .tabInfo {

            display: flex;
            justify-content: space-between;

            .nav-link {
                color: #667085;
                background-color: none;
            }

            .nav-pills .nav-link.active {
                background-color: transparent;
                // text-decoration: #304FFE;
            }
        }
    }
}